form {
    background-color: #212121;
    width: 384px;
    border-radius: 1rem;
    padding: 2rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

form h2 {
    color: white;
    text-align: start;
    font-size: 20px;
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

