body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #06151A;

}

header {
  background-color: #06151A;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORMULARIO */
fieldset label {
  font-size: 16px;
  color: white;
}

fieldset input,
fieldset select {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #33353F;
  background-color: transparent;
  padding: 8px 16px;
  color: white;
}

fieldset select option {
  background-color: transparent;
  padding: 8px 16px;
  color: white;
}
fieldset select option:active {
  background-color: #33353F;
}

fieldset input::placeholder {
  color: #33353F;
}